<ul id='tickets'>
  <% @tickets.each do |ticket| %>
    <li>
      <%= ticket.id %> 
      <%= link_to ticket.title, [@project, ticket] %>
    </li>
  <% end %>
      <%= link_to "New Ticket", new_project_ticket_path(@project) %>
</ul>
